<launch>
  <arg name="racetrack_image_path" default="$(find map_generator)/racetracks/track2.yaml"/>

  <node name="generate_map_yaml" pkg="map_generator" type="generate_map_yaml.py" output="screen">
    <param name="image_path" type="string" value="$(arg racetrack_image_path)"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg racetrack_image_path)" />

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node">
      <rosparam file="$(find map_generator)/costmap/costmap.yaml" command="load" ns="costmap"/>
  </node>

  <arg name="start_x" default="74.0" />
  <arg name="start_y" default="45.125" />
  <arg name="start_z" default="0.36" />
  <arg name="start_quat_z" default="1" />
  <arg name="start_quat_w" default="0" />
  <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="$(arg start_x) $(arg start_y) $(arg start_z) 0 0 $(arg start_quat_z) $(arg start_quat_w) /map /base_link 100"/>
  
  <!-- Launch audibot -->
  <include file="$(find audibot_gazebo)/launch/audibot_racing_line.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find map_generator)/costmap/costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find map_generator)/costmap/costmap.yaml" command="load" ns="global_costmap" />
    <!-- <rosparam file="$(find local_planning)/params/teb_planner_params.yaml" command="load" /> -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>

  <!-- Full RViz instance with map, audibot, goal pose, and paths -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/racetrack_rviz.rviz"/>
  <!-- Simple RViz instance with just the map -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/map.rviz"/> -->


</launch>

