<launch>
  <!-- Set racetrack details -->
  <arg name="racetrack_image_path" default="$(find map_generator)/racetracks/track2.yaml"/>

  <!-- Create node for map generation  -->
  <node name="generate_map_yaml" pkg="map_generator" type="generate_map_yaml.py" output="screen">
    <param name="image_path" type="string" value="$(arg racetrack_image_path)"/>
  </node>

  <!-- Create node for map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg racetrack_image_path)" />
  
  <!-- Launch audibot -->
  <include file="$(find audibot_gazebo)/launch/audibot_racing_line.launch"/>

  <!-- Create node for move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- Global Costmap -->
    <rosparam file="$(find map_generator)/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find map_generator)/costmap/global_costmap_params.yaml" command="load" />

    <!-- Local Costmap -->
    <rosparam file="$(find map_generator)/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find map_generator)/costmap/local_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find local_planning)/params/teb_planner_params.yaml" command="load" /> -->

    <!-- Global Planners -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner" /> <!-- Djikstra's -->

    <!-- Local Planners -->
    <!-- <rosparam file="$(find local_planning)/params/base_local_planner_ackermann_params.yaml" command="load" /> -->



    <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" /> -->
    <param name="controller_frequency" value="5.0" />
  </node>

  <!-- Full RViz instance with map, audibot, goal pose, and paths -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/racetrack_rviz.rviz"/> -->
  <!-- Show local planner info -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/local_plan.rviz"/> 
  <!-- Simple RViz instance with just the map -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/map.rviz"/> -->


</launch>

